$main-color: #955E42;
$branca-cor: #FFFFFF;
$verde-cor: #52D997;
$amarelo-cor: #ffc107;
$vermelho-cor: #dc3545;
$preto-cor: #000000;
$texto-normal-cor: #505153;
$texto-pequeno-cor: #C0C5CF;
$borda-cor: #828282;
$icone-cinza-cor: #AEAEAE;
$circulo-cinza-cor: #D9D9D9;

.navbar {
    display: flex;
    align-items: center;
    border: 1px solid #ebebeb;

    gap: 20px;
    background-color: $branca-cor;
    padding: 5px 10px;

    width: 100%;

    .leftSection {
        width: 49%;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: auto;
                margin-right: 5px;
            }

            .logotext {
                color: $main-color;
                font-weight: 700;
                font-size: 24px;
                margin-top: 10px;
                padding: 8px;
            }
        }
    }

    .centerSection {
        width: 100%;
        display: flex;
        gap: 50px;
        align-items: center;

        .feedIcon {
            display: flex;
            gap: 5px;
            align-items: center;

            .iconRss {
                font-size: 24px;
                cursor: pointer;
                color: $main-color;
            }

            p {
                margin: 0;
                font-size: medium;
                font-weight: bold;
                color: $main-color;
                cursor: pointer;
            }
        }

        .friendsIcon {
            color: $main-color;
            display: flex;
            align-items: center;
            justify-content: start;
            font-weight: bold;
            cursor: pointer;
            gap: 5px;
            color: $icone-cinza-cor;


            &:hover {
                color: rgba($main-color, 0.7);

            }

            .iconP {
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
            }

            p {
                font-weight: bold;
                font-size: medium;
                cursor: pointer;

                margin: 0;
            }
        }
        .aboutIcon {
            color: $main-color;
            display: flex;
            align-items: center;
            justify-content: start;
            font-weight: bold;
            cursor: pointer;
            gap: 5px;
            color: $icone-cinza-cor;


            &:hover {
                color: rgba($main-color, 0.7);

            }

            .iconP {
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
            }

            p {
                font-weight: bold;
                font-size: medium;
                cursor: pointer;

                margin: 0;
            }
        }




    }

    .rightSection {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;

        .Icons {

            .IconS,
            .IconMsg,
            .IconLg {
                font-size: 24px;
                padding: 2px;
                cursor: pointer;
            }
        }

        .iconHamb {
            display: none;
        }
    }

    .sidenav {
        display: none;
    }
}

.content {
    display: flex;
    gap: 20px;
    padding: 10px;

    .posts {
        width: 100%;
        justify-content: center;
        align-items: center;

        &.active {
            .searchbar {
                cursor: pointer;
                display: block;
            }
        }

        .searchbar {
            cursor: pointer;
            display: none;
            color: #505153;
            border: 1px solid #ebebeb;

            border-radius: 8px;
            background-color: #fff;
            justify-content: center;
            width: 85%;
            padding: 10px;
            display: flex;

            input {
                border: none;
                width: 85%;
                height: 65px;
            }

            .faPaperPlane {
                font-size: 30px;
                color: $main-color;
                padding: 10px;
                cursor: pointer;

            }

            .faPaperclip {
                font-size: 30px;
                color: $main-color;
                cursor: pointer;
            }
        }
    }

    .meusartigos-friends {
        display: flex;
        max-height: calc(100vh - 122px);
        flex-direction: column;
        width: 60%;

        .box {
            display: flex;
            align-items: center;
            padding: 10px;
            height: 53px;
            color: #505153;
            border: 1px solid #ebebeb;
            cursor: pointer;

            border-radius: 8px;
            background-color: #fff;
            gap: 10px;


            h3 {
                margin: 0;
                font-weight: 600;
                color: $texto-normal-cor;
                font-size: 18px;
            }
        }

    }

    .publicacoes {
        max-height: calc(100vh - 122px);
        overflow-y: auto;

        width: 100%;

        .posts {
            display: flex;
            flex-direction: column;

            .searchbar {
                cursor: pointer;
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: space-between;
                height: 55px;
                margin-bottom: 20px;

                p {
                    margin: 0;

                }

                .canto {

                    display: flex;
                    gap: 5px;

                    .botaoEnviar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        border: none;
                        cursor: pointer;
                        height: 45px;
                        border-radius: 8px;
                        background-color: #955e42;

                        .icon19 {
                            width: 22px;
                            height: 22px;
                        }
                    }

                    .paperClipOutline {
                        width: 30px;
                        height: 24px;
                        align-self: center;
                        border-radius: 50%;
                        background-color: rgba($main-color, 0.8);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon39 {
                            object-fit: cover;
                        }

                    }
                }

            }



            .post-container {

                overflow-y: auto;

                .post {
                    border: 1px solid #ebebeb;
                    border-radius: 8px;
                    background-color: #fff;
                    padding: 10px;
                    margin-bottom: 15px;


                    .post-header {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        justify-content: space-between;

                        .conjunto {
                            display: flex;

                            .profile-photo {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-right: 10px;
                                cursor: pointer;


                            }

                            .post-author {
                                cursor: pointer;

                                p {
                                    margin: 0;
                                    font-weight: bold;

                                }
                            }

                        }


                        .data {
                            color: #c0c5cf;
                            font-size: 11px;
                            font-weight: 600;
                            font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                                'Liberation Sans', sans-serif;
                            padding: 0;
                            margin-top: -13px;
                        }

                        .status {
                            color: $preto-cor;
                            display: flex;
                            font-size: 11px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    .post-content {

                        .carpic {
                            object-fit: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 16px;
                            background-color: #d9d9d9;
                        }
                    }

                    .line10 {
                        max-width: 100%;
                        height: 0;
                        max-height: 100%;
                        border-bottom: solid 1px #d9d9d9;
                    }

                    p {
                        color: #505153;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                            'Liberation Sans', sans-serif;
                    }

                    .descText {
                        padding-top: 10px;
                        padding-left: 5px;
                    }

                    .line11 {
                        max-width: 100%;
                        height: 0;
                        max-height: 100%;
                        border-bottom: solid 1px #d9d9d9;
                        padding-top: 5px;
                    }

                    .comment-sec {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content: space-around;
                        font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                            'Liberation Sans', sans-serif;
                        padding: 5px;

                        .info {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            cursor: pointer;
                        }

                        .coment {
                            gap: 5px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }

                        p {
                            margin: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .eventos {
        max-height: calc(100vh - 122px);
        overflow-y: auto;

        width: 80%;
        .event {
            border:  1px solid #ebebeb;
            border-radius: 8px;
            background-color: #fff;
            padding: 16px;
        
            .line1{
                max-width: 100%;
                height: 0;
                border-bottom: solid 1px #d9d9d9;
            }

            .post-content {

                padding: 6px;
                .carpic {
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 16px;
                    background-color: #d9d9d9;
                }
            }
        
            .post-header{
                display: flex;
                align-items: center;
                justify-items: center;
                gap: 5px;
                padding-top: 5px;
        
                .event-author{
        
                    .data{
                        color: #c0c5cf;
                        font-size: 11px;
                        font-weight: 600;
                        font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                        'Liberation Sans', sans-serif;
                        padding: 0;
                        margin-top: -13px;
                    }
                }
            }
        
            .post-content{
                p{
                    padding: 10px;
                }
            }
        
            .comment-sec{
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 5px;
                padding: 10px;
                font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                'Liberation Sans', sans-serif;
        
                .info{
                    display: flex;
                    cursor: pointer;
                    gap: 5px;
                    align-items: center;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                    p{
                        margin: 0;
                    }
                }
                
                .coment{
                    cursor: pointer;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}


.friends {
    margin-top: 20px;
    color: #505153;
    border: 1px solid #ebebeb;
    outline-offset: -1px;
    border-radius: 8px;
    background-color: #fff;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;


    .col-f {
        margin-left: 10px;
        display: flex;
        align-items: center;


        h3 {

            padding: 5px;
            font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
            font-weight: 700;
            margin: 0;

        }

        p {
            color: #c8ccd5;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                'Liberation Sans', sans-serif;
        }
    }

    .nomeA {
        cursor: pointer;

        &:hover {
            background-color: rgba($preto-cor, 0.1);
        }

        .conjunto {
            display: flex;
            padding-top: 10px;

            .profile-photo {
                padding-left: 5px;
            }

            .post-author {
                padding-left: 12px;

                .nome {
                    margin: 0px;
                    font-weight: bold;
                }

                .status {
                    color: #52D997;
                }

                .status1 {
                    color: #C0C5CF;
                }
            }

        }
    }

    .inter {
        padding: 10px;
    }


}



@media (max-width:1000px) {
    .navbar {
        display: flex;
        align-items: center;
        border: 1px solid #ebebeb;

        gap: 20px;
        background-color: $branca-cor;
        padding: 5px 10px;

        width: 100%;

        .leftSection {
            width: 100%;

            .logo {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: auto;
                    margin-right: 5px;
                }

                .logotext {
                    font-size: large;
                }
            }
        }

        .centerSection {
            display: none;
        }

        .rightSection {
            .Icons {
                display: none;
            }

            .iconHamb {
                display: block;
                cursor: pointer;
                font-size: 24px
            }

            .profilePhoto {
                display: none;
            }
        }

        /* The sidebar menu */
        .sidenav {
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $main-color;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        /* Sidebar links */
        .sidenav p {
            cursor: pointer;
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: $branca-cor;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #ccc;
        }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: $branca-cor;
            display: block;
            transition: 0.3s;
        }

        .sidenav p:hover {
            color: #ccc;
        }

        /* The close button */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        /* Style the main content */
        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

    }

    .content {
        display: flex;
        padding: 10px;
        width: 100%;
        gap: 0;

        .posts {
            width: 100%;
            justify-content: center;
            align-items: center;

            &.active {
                .searchbar {
                    cursor: pointer;
                    display: block;
                }
            }

            .searchbar {
                cursor: pointer;
                display: none;
                color: #505153;
                border: 1px solid #ebebeb;

                border-radius: 8px;
                background-color: #fff;
                justify-content: center;
                width: 100%;
                padding: 10px;
                display: flex;

                input {
                    border: none;
                    width: 100%;
                    height: 65px;
                }

                .faPaperPlane {
                    font-size: 30px;
                    color: $main-color;
                    padding: 10px;
                    cursor: pointer;

                }

                .faPaperclip {
                    font-size: 30px;
                    color: $main-color;
                    cursor: pointer;
                }
            }
        }

        .meusartigos-friends {
            width: 100%;
            display: none
        }

        .publicacoes {
            width: 100%;

            .posts {
                display: flex;
                flex-direction: column;

                .searchbar {
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    justify-content: space-between;
                    height: 55px;
                    margin-bottom: 20px;

                    p {
                        margin: 0;

                    }

                    .canto {

                        display: flex;
                        gap: 5px;

                        .botaoEnviar {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 60px;
                            border: none;
                            cursor: pointer;
                            height: 45px;
                            border-radius: 8px;
                            background-color: #955e42;

                            .icon19 {
                                width: 22px;
                                height: 22px;
                            }
                        }

                        .paperClipOutline {
                            width: 30px;
                            height: 24px;
                            align-self: center;
                            border-radius: 50%;
                            background-color: rgba($main-color, 0.8);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon39 {
                                object-fit: cover;
                            }

                        }
                    }

                }

                .post-container {

                    .post {
                        border: 1px solid #ebebeb;

                        border-radius: 8px;
                        background-color: #fff;
                        padding: 10px;
                        margin-bottom: 15px;


                        .post-header {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            justify-content: space-between;

                            .conjunto {
                                display: flex;

                                .profile-photo {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    margin-right: 10px;
                                    cursor: pointer;


                                }

                                .post-author {
                                    cursor: pointer;

                                    p {
                                        margin: 0;
                                        font-weight: bold;

                                    }
                                }

                            }


                            .data {
                                color: #c0c5cf;
                                font-size: 11px;
                                font-weight: 600;
                                font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                                    'Liberation Sans', sans-serif;
                                padding: 0;
                                margin-top: -13px;
                            }

                            .status {
                                display: flex;
                            }
                        }

                        .post-content {

                            .carpic {
                                object-fit: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 16px;
                                background-color: #d9d9d9;
                            }
                        }

                        .line10 {
                            max-width: 100%;
                            height: 0;
                            max-height: 100%;
                            border-bottom: solid 1px #d9d9d9;
                        }

                        p {
                            color: #505153;
                            font-size: 14px;
                            font-weight: 500;
                            font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                                'Liberation Sans', sans-serif;
                        }

                        .descText {
                            padding-top: 10px;
                            padding-left: 5px;
                        }

                        .line11 {
                            max-width: 100%;
                            height: 0;
                            max-height: 100%;
                            border-bottom: solid 1px #d9d9d9;
                            padding-top: 5px;
                        }

                        .comment-sec {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            justify-items: center;
                            font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                                'Liberation Sans', sans-serif;
                            padding: 5px;

                            .info {
                                cursor: pointer;
                            }

                            .coment {
                                cursor: pointer;
                            }

                            p {
                                display: flex;
                                align-items: center;
                                justify-items: center;
                                padding-top: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .eventos {
            width: 100%;
            display: none
        }
    }


}